*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
}
#root{
  width: 100%;
  display: flex;
  flex-direction: column;

}

header{
  width: 100%;
  margin-bottom: .4em;
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: .4em
}
header h2{
  margin: 0;
  color: #eee;
}

nav{
  display: flex;
  justify-content: flex-end;

}
nav ul{
  list-style: none;
  display: flex;
  gap:1em;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px;

}

nav ul a{
  color: #eee;
  text-decoration: none;
}

nav form{
  display: flex;
  gap: 1px;
}
nav form input{
  background-color: #878787;
  border: none;
  outline: none;

}
nav form button{
  margin-right: 10px;
}

main{
  width: 80%;
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap:1em;
  border: 1px solid #202020;
}


section{
  width: 50%;
}


table{
  border-collapse: collapse;
}

table th, td{
  padding: .5em;
  border: 1px solid #222;
}


/*--- HOME ---*/
.home{
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
}

.home-status{
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

}
.home-status ul{
  display: flex;
  gap: 1em;
  list-style: none;
}

.home-status ul li{
  border: 1px solid #b91f1f;
  padding: 1em;
  
}


/* -- --- -- */


/* -- USERS -- */
.add-user form{
  display: flex;
  flex-direction: column;
  gap:.5em;

}


/* -- --- -- */





/* MODAL */

.searchUserModal{
  border: 1px solid #747474;
  width: 100%;
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .35s all;

  z-index: 1;
  background-color: #1b1b1b9a;

}
.userContent{
  width: 80%;
  background-color: #1a1a11;
  height: 100%;
  background-color: #f0f0f0
}

.userContent ul{
list-style: none;
width: 100%;
padding: 0;

}

.userContent ul li{
  display: flex;
  justify-content: center;
}

.userModal{
  width: 90%;
  border: 1px solid #1a1a11;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
 
}
.userContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userContent .userDates{
  display: flex;
  flex-direction: column;
}

.newUser{
  width: 30%;
  border: 1px solid #202020;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #878787;
  align-content: center;
  
}

.newUser form{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  border: 1px solid #222;
  padding: 1em;
  background-color: #f0f0f0;
}


.atenderUser{
width: 100%;
border: 1px solid violet;
background-color: rgb(187, 208, 248);
display: flex;
flex-direction: column;
height: 100%;
align-items: center;
z-index: 1;
}

.atenderUser form{
height: 100%;
width: 60%;
padding: 1em;
border: 1px solid #b91f1f;
display: flex;
flex-direction: column;
align-items: center;
gap:1em;
background-color: #fafafa;
}

.atenderUser form span{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.canal-recibo{
  display: flex;
  width: 50%;
}
.atenderUser .canal-recibo span{
  flex-direction: row;
}
